.back-button-container {
  width: 100%;
  padding: 10px 0px 0px 10px;

  background-color: rgb(13, 66, 74);

  img {
    cursor: pointer;
    margin: 0px;
    height: 40px;
    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }
}
