.header-container {
  width: 100%;
  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $color1;
    img {
      height: 50px;
    }
    a:active {
      background-color: red;
    }
  }
}
