.list-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  .card-container {
    display: flex;
    align-items: center;
  }
}
