.list-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
  @media screen and (min-width: 1200px) {
    border-radius: 10px;
    background-color: rgb(24, 27, 37);

    margin-top: 0;
    .card-container:hover {
      border: 1px 0px solid $blue1;
      border-radius: 10px;
      background-color: rgba(212, 216, 216, 0.089);
    }
  }

  .card-container {
    width: 100%;
    cursor: pointer;
    @media screen and (min-width: 1200px) {
      max-width: 25%;
      height: 150px;
      display: flex;
      align-items: center;
    }
  }
}
