.modal-info-container {
  z-index: 1;
  min-height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  scroll-behavior: unset;
  top: 0;
  background-color: #3e4d3a;

  border-radius: 10px;
  span {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
  }
  h4 {
    text-align: center;
    font-size: 2rem;
  }
  .info-container {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .korogu-img {
      height: 120px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    p {
      width: 90%;
      margin: 10px;
      z-index: 2;
      background-color: rgba(3, 3, 3, 0.466);
      padding: 10px;
      border-radius: 8px;
    }
    img {
      height: 290px;
    }
  }
  ul {
    background-color: #3b3636;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: auto;
    width: 50%;
    text-align: center;
    li {
      text-align: left;
      padding: 2px;
      background-color: rgb(90, 125, 155);
    }
  }
  .icon-container {
    min-width: 75%;
    margin: 5%;
    display: flex;
    justify-content: flex-end;

    .heart-img {
      height: 20px;
      width: 20px;
      margin-left: 20px;
    }
  }
}
