.modal-info-container {
  z-index: 1;
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $color1;

  border-radius: 10px;
  span {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
  }
  h4 {
    text-align: center;
    font-size: 2rem;
  }
  .info-container {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .hearts-recovered {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 80%;
    }
    .korogu-img {
      height: 80px;
      position: relative;
      top: 10px;
      left: 10px;
    }
    p {
      width: 90%;
      margin: 10px;
      z-index: 2;
      background-color: rgba(3, 3, 3, 0.466);
      padding: 10px;
      border-radius: 8px;
    }
    img {
      height: 290px;
    }
  }
  .more-information {
    display: flex;
    width: 100%;

    justify-content: flex-end;
    text-align: center;
    .locations,
    .drops,
    .properties,
    .materials-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      ul {
        background-color: #3b3636;
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: scroll;
        li {
          display: flex;
          justify-content: space-evenly;
          text-align: left;
          padding: 2px;
          background-color: rgba(36, 75, 109, 0.062);
        }
      }
    }
    h5 {
      background-color: rgba(23, 82, 23, 0.658);
      padding: 2px;
      font-size: large;
    }
    .edible {
      margin: 2rem;
    }
  }
}
