.monster-card-container {
  width: 100%;
  .monster-card {
    display: flex;
    margin: 1rem;
    color: white;
    font-size: large;
    justify-content: flex-start;
    img {
      height: 105px;
      border-radius: 10px;
    }
  }
  .info-object {
    display: flex;
    flex-direction: column;
    font-family: $font1;
    font-size: larger;
    padding-left: 2rem;
    span {
      text-transform: capitalize;
    }
    span:nth-child(2) {
      color: rgb(107, 181, 250);
    }
  }
}
