.creatures-container {
  height: 100vh;
  width: 100%;
  background-color: rgb(17, 58, 58);
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70px;
    background-color: rgb(6, 58, 58);
  }
  .monsters-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  input {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    border: none;
  }
}
