@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap");
:export {
  color1: #1a1414;
  green2: rgb(0, 253, 148);
  green1: rgb(2, 172, 81);
  red1: rgb(255, 111, 86);
  red2: rgb(251, 69, 63);
  black1: rgb(31, 31, 31);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Saira Condensed", sans-serif;
  color: rgb(219, 217, 217);
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.loading-container {
  height: 100vh;
  background-color: #1a1414;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  min-height: 100vh;
  width: 100%;
  background-color: #1a1414;
}
.page-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70px;
  background-color: #1a1414;
}

.header-container {
  width: 100%;
  height: 70px;
  margin-top: 30px;
}
.header-container div {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1a1414;
}
.header-container div img {
  height: 50px;
}
.header-container div a {
  margin: auto;
}
.header-container div .active {
  border: 10px solid rgba(109, 177, 216, 0.473);
}

.monster-card-container {
  width: 100%;
}
.monster-card-container .monster-card {
  display: flex;
  margin: 1rem;
  color: white;
  font-size: large;
  justify-content: flex-start;
}
.monster-card-container .monster-card img {
  height: 105px;
  border-radius: 10px;
}
.monster-card-container .info-object {
  display: flex;
  flex-direction: column;
  font-family: "Saira Condensed", sans-serif;
  font-size: larger;
  padding-left: 2rem;
}
.monster-card-container .info-object span {
  text-transform: capitalize;
}
.monster-card-container .info-object span:nth-child(2) {
  color: rgb(107, 181, 250);
}

.modal-info-container {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #1a1414;
}
.modal-info-container span {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 10px;
}
.modal-info-container h4 {
  text-align: center;
  font-size: 2rem;
}
.modal-info-container .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-info-container .info-container .hearts-recovered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80%;
}
.modal-info-container .info-container .korogu-img {
  height: 80px;
  position: relative;
  top: 10px;
  left: 10px;
}
.modal-info-container .info-container p {
  width: 90%;
  margin: 10px;
  z-index: 2;
  background-color: rgba(3, 3, 3, 0.466);
  padding: 10px;
  border-radius: 8px;
}
.modal-info-container .info-container img {
  height: 250px;
}
.modal-info-container .more-information {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-align: center;
}
.modal-info-container .more-information .locations,
.modal-info-container .more-information .drops,
.modal-info-container .more-information .properties,
.modal-info-container .more-information .materials-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal-info-container .more-information .locations ul,
.modal-info-container .more-information .drops ul,
.modal-info-container .more-information .properties ul,
.modal-info-container .more-information .materials-info ul {
  background-color: #3b3636;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
}
.modal-info-container .more-information .locations ul li,
.modal-info-container .more-information .drops ul li,
.modal-info-container .more-information .properties ul li,
.modal-info-container .more-information .materials-info ul li {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  padding: 2px;
  background-color: rgba(36, 75, 109, 0.062);
}
.modal-info-container .more-information h5 {
  background-color: rgba(23, 82, 23, 0.658);
  padding: 2px;
  font-size: large;
}
.modal-info-container .more-information .edible {
  margin: 2rem;
}

.list-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.list-container .card-container {
  width: 100%;
}

.searchbar-input {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  height: 30px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}/*# sourceMappingURL=index.css.map */