@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap");
:export {
  color1: #00b7b3;
  green2: rgb(0, 253, 148);
  green1: rgb(2, 172, 81);
  red1: rgb(255, 111, 86);
  red2: rgb(251, 69, 63);
  black1: rgb(31, 31, 31);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Saira Condensed", sans-serif;
  color: rgb(219, 217, 217);
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.creatures-container {
  height: 100%;
  width: 100%;
}
.creatures-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70px;
  background-color: rgb(6, 58, 58);
}

.header-container {
  position: absolute;
  top: 0px;
}
.header-container ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: rgba(151, 1, 1, 0.6980392157);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.header-container ul img {
  align-self: flex-end;
  height: 70px;
  width: 70px;
}
.header-container ul li {
  padding: 10px 0;
  font-size: 22px;
}
.header-container .menuToggle {
  display: block;
  position: relative;
  top: 20px;
  left: 10px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.header-container .menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.header-container .menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.header-container .menuToggle span:first-child {
  transform-origin: 0% 0%;
}
.header-container .menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.header-container .menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.header-container .menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.header-container .menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.header-container .menuToggle input:checked ~ ul {
  transform: none;
}/*# sourceMappingURL=index.css.map */